@page {
    margin: 1rem;
    size: a4 landscape;
}

body {
    background-color: black;
    color: lightgrey;
}

.frames {
    display: grid;
    grid-template-rows: auto 2.5rem;
    grid-template-columns: auto 9rem;
    break-before: page;
    /*border: 1px solid black;*/
}

.frames .footer {
    /*border: 1px solid black;*/
}

.play-table {
    display: grid;
    grid-template-rows: 17rem 8rem 17rem;
    /*border: 1px solid black;*/
}

.play-table > div {
    justify-self: center;
}

.inactive {
    color: gray;
}

.grid-table {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 12rem 12rem 12rem;
}

.northCell {
    position: relative;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3rem;
}

.grid-table > div {
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.hand {
    font-family: "Ubuntu Mono";
    border: none;
    font-size: 2rem;
}

.play-table .hand {
    font-size: 3rem;
}

.play-table .small {
    font-size: 1rem;
}

.play-table .hand.error {
    color: red;
}

.trickCount {
    text-align: right;
}

.tricks {
    font-family: "Ubuntu Mono";
    font-size: 1.4rem;
    white-space: pre;
}

.tricks span {
    font-size: 0.8rem;
}

footer {
    padding-top: 1.5rem;
    font-size: 0.5rem;
}

.tricks div {
    margin-bottom: 1.1rem;
}