@page {
    margin: 1rem;
    size: a4 landscape;
}

.grid-table {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-template-rows: 12rem 12rem 12rem;
}

.frames {
    display: grid;
    grid-template-columns: auto 8rem;
    break-before: page;
}

.northCell {
    position: relative;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3rem;
}

.grid-table > div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.hand {
    font-family: "Ubuntu Mono";
    border: none;
    font-size: 2rem;
}

.tricks {
    font-family: "Ubuntu Mono";
    font-size: 1.1rem;
    white-space: pre;
}